<hr>
<b><font color='red'>Ejercicio 01</font></b>  

Lee el archivo "super.csv", haz que se muestren por pantalla los 10 primeros registros

In [90]:
#¿Cuántos artículos de media se comprán? ¿Cuál es su precio?

"""Esribe tu código aquí"""

'Esribe tu código aquí'

In [91]:
#¿Cuántos artículos de media se comprán?
#¿Cuál es su precio?
"""Esribe tu código aquí"""

'Esribe tu código aquí'

In [92]:
#Muestra los diagramas de cajas
"""Esribe tu código aquí"""

'Esribe tu código aquí'

In [93]:
#haz un histograma del precio
"""Esribe tu código aquí"""

'Esribe tu código aquí'

In [94]:
#muestra un gráfico (scatter) del número de artículos respecto al precio

In [95]:
#Encuentra los registros que se han gastado más que la media, haz que salgan por pantalla los 5 primeros registros 
"""Esribe tu código aquí"""

'Esribe tu código aquí'

In [96]:
#¿Cuántas compras se han hecho con un precio mayor de 50 €, por hombres y el lunes?
"""Esribe tu código aquí"""

'Esribe tu código aquí'

In [97]:
#crea un histograma en que se muestren la distribución de las compras por días
"""Esribe tu código aquí"""

'Esribe tu código aquí'

In [98]:
#crea una nueva columna en la que se muestre el valor medío de los artículos comprados, muestra los 5 primeros varlores
"""Esribe tu código aquí"""

'Esribe tu código aquí'

In [99]:
#muestra un histograma del valor medio
"""Esribe tu código aquí"""

'Esribe tu código aquí'

In [100]:
#cual es el valor medio
"""Esribe tu código aquí"""

'Esribe tu código aquí'

Analiza la correlacción, obtinenes alguna conclusión.

<hr>
<b><font color='red'>Ejercicio 02</font></b>  

Crea un archivo llamado calendario.xlsx. Haz que tenga 12 hojas, llamadas
["enero","febrero","marzo","abril","mayo","junio","julio","agosto","septiembre","octubre","noviembre","diciembre"]
con los siguientes días por hoja
[31,28,31,30,31,30,31,31,30,31,30,31]
haz que apareza un calendario de ese mes en cada hoja como creas conveniente, es decir:

    L M X J V S D
    1 2 3 4 5 6 7
    ....
    
    o
    
    1 2 3 4 5 6 ....31
    
    o
    
    1
    2
    3
    4
    .
    .

In [101]:
"""Esribe tu código aquí"""

'Esribe tu código aquí'

<hr>
<b><font color='red'>Ejercicio 03</font></b>  

Para extraer información financiera utilizaremos la libreria  yfinance

In [102]:
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd
import yfinance as yf

In [103]:
from pytickersymbols import PyTickerSymbols
stock_data = PyTickerSymbols()
#Obtener los mercados
stock_data.get_all_indices()

['OMX Helsinki 25',
 'DOW JONES',
 'S&P 500',
 'CAC 40',
 'AEX',
 'MOEX',
 'CDAX',
 'MDAX',
 'TECDAX',
 'Switzerland 20',
 'OMX Stockholm 30',
 'IBEX 35',
 'FTSE 100',
 'NASDAQ 100',
 'EURO STOXX 50',
 'DAX',
 'S&P 100',
 'CAC Mid 60',
 'SDAX',
 'S&P 600',
 'BEL 20']

In [104]:
ibex35_stocks = stock_data.get_stocks_by_index('IBEX 35')
#ver las empresas que cotizan en el mercado del ibex35
for i in list(ibex35_stocks):
    print(i['symbol'],i['name'])

IAG International Consolidated Airlines Group SA
MT ArcelorMittal
ANA Acciona SA
ACX Acerinox SA
ACS Actividades de Construcción y Servicios SA
AENA Aena SA
AMS Amadeus IT Group SA
BBVA Banco Bilbao Vizcaya Argentaria SA
BKT Bankinter SA
CABK CaixaBank SA
CLNX Cellnex Telecom SA
ELE Endesa SA
FER Ferrovial SA
GRF Grifols SA
IBE Iberdrola SA
ITX Industria de Diseño Textil SA
IDR Indra Sistemas SA
COL Inmobiliaria Colonial, SOCIMI SA
MEL Meliá Hotels International
MRL MERLIN Properties SOCIMI SA
NTGY Naturgy Energy Group SA
REE Red Eléctrica Corporación SA
REP Repsol SA
SGRE Siemens Gamesa Renewable Energy SA
TEF Telefónica
SAB Banco de Sabadell, S.A.
SAN Banco Santander, S.A.
ENG Enagás, S.A.
FDR Fluidra
MAP Mapfre, S.A.
PHM Pharma Mar S.A.
SLR Solar power in Spain
ROVI Laboratorios Rovi

In [105]:
#Si queremos los calores de CaixaBanck
start='2021-01-01'
end='2021-06-01'
df =  yf.download('CABK',start,end)
df.head()

[*********************100%***********************]  1 of 1 completed

                           Open  High   Low  Close  Adj Close  Volume
Date
2021-01-04 00:00:00-05:00  1.05  1.05  1.05   1.05       1.05       0
2021-01-05 00:00:00-05:00  1.03  1.05  1.03   1.05       1.05   25651
2021-01-06 00:00:00-05:00  1.04  1.05  1.04   1.05       1.05    7640
2021-01-07 00:00:00-05:00  1.05  1.05  1.04   1.04       1.04   19040
2021-01-11 00:00:00-05:00  1.04  1.04  1.02   1.04       1.04   52270

Crea una nueva columna llamada que muestre el valor medio, es decir (Close+Open)/2 y haz una gráfica que muestre los tres valores:

In [106]:
"""Esribe tu código aquí"""

'Esribe tu código aquí'

<img src="PAND1.png">

Utiliza, hlines, fill_between de la libreria matplotlib para obtener el siguiente resultado:

In [107]:
"""Esribe tu código aquí"""

'Esribe tu código aquí'

<img src="PAND2.png">  

crea una nueva gráfica en la que se muestre la diferencia entre la apertura y el cierre, así como la media

In [108]:
"""Esribe tu código aquí"""

'Esribe tu código aquí'

<img src="PAND3.png">

In [109]:
#fíjate, si tomamos la media de los valeres de TEL
df =  yf.download('TEL',start,end)
df.head()

[*********************100%***********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2021-01-04 00:00:00-05:00,121.190002,122.410004,118.980003,120.300003,116.700813,1386500
2021-01-05 00:00:00-05:00,120.669998,122.849998,120.389999,122.610001,118.941696,1191400
2021-01-06 00:00:00-05:00,125.000000,127.889999,124.449997,126.129997,122.356377,2306100
2021-01-07 00:00:00-05:00,127.160004,129.470001,126.800003,128.660004,124.810692,1875000
2021-01-08 00:00:00-05:00,129.889999,131.750000,128.240005,130.470001,126.566551,2301300

<img src="PAND4.png">

In [110]:
#Si creamos un nuevo df y metemos los vaores medios de TEL
df['TEL']=(df['Close']+df['Open'])/2
df_ibex35=pd.DataFrame(df['TEL'])
df_ibex35.head()

                                  TEL
Date
2021-01-04 00:00:00-05:00  120.745003
2021-01-05 00:00:00-05:00  121.639999
2021-01-06 00:00:00-05:00  125.564999
2021-01-07 00:00:00-05:00  127.910004
2021-01-08 00:00:00-05:00  130.180000

In [111]:
#ahora metemos los de AENA
df =  yf.download('CABK',start,end)
df.head()
df['CABK']=(df['Close']+df['Open'])/2
df_ibex35['CABK']=df['CABK']
df_ibex35.head()

[*********************100%***********************]  1 of 1 completed

                                  TEL   CABK
Date
2021-01-04 00:00:00-05:00  120.745003  1.050
2021-01-05 00:00:00-05:00  121.639999  1.040
2021-01-06 00:00:00-05:00  125.564999  1.045
2021-01-07 00:00:00-05:00  127.910004  1.045
2021-01-08 00:00:00-05:00  130.180000    NaN

In [112]:
#Haz que se descarque los valores de la siguiente lista 
lista=['IAG', 'MT', 'AMS', 'BBVA', 'BKT', 'TEF', 'SAN', 'ENG']
#Haz que los guarde dentro de una dataframe llamado lista_ibex35
"""Esribe tu código aquí"""

'Esribe tu código aquí'

In [113]:
#Visualizalo descomentando la siguiente instrucción
#lista_ibex35.plot()

Ejemplo de salida:

<img src="PAND5.png">

In [114]:
#Crea un gráfico de la correlación descomentando la siguiente instrucción
#sns.heatmap(lista_ibex35.corr(), annot = True)

<img src="PAND6.png">

Reponde a la siguientes preguntas:
- ¿Cuáles son las empresas que estan más correlaccionadas?
- ¿Cuál crees que es el motivo?